<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form action="/summarise" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file" class="form-control" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>