<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
    <div class="frame">
        <div class="center">
              <div class="bar"></div>
              <form class="contact100-form validate-form" action="/summarise" method="POST" enctype="multipart/form-data">
              <!-- <div class="title">Drop file to upload</div> -->
              <div class="dropzone">
                  <div class="content">
                      <img src="https://100dayscss.com/codepen/upload.svg" class="upload" height="240px" width="150px">
                      <span class="filename"></span>
                      <!-- <input type="file" class="input"> -->
                      <label class="cameraButton" style="opacity:0.1;"><i style = "color:blue;" class = "fa fa-camera-retro" ></i>
						<input type="file" name="file" id="file" class="form-control" accept="image/*;capture=camera"required>
					</label>
                      <input type="file" name="file" id="file" class="input" accept="image/*;capture=camera"required>
                  </div>
              </div>
              <img src="https://100dayscss.com/codepen/syncing.svg" class="syncing">
              <img src="https://100dayscss.com/codepen/checkmark.svg" class="done">
              <button class="upload-btn">Upload file</button>
            </form>
        </div>
      </div>
      <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/main.js"></script>
</body>

</html>
